
.search-form {
  
  padding: 24px 0;
  
  label {
    display: block;
    
    background: $lightgrey url('../img/icon-search.svg') no-repeat 8px 8px;
    background-size: 16px 16px;
    border-radius: 100px;
    height: 32px;
    padding-left:32px;
    
    cursor: pointer;
    
  }
  
  input[type='search'] {
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance: none;
    border: none;
    height: 32px;
    background: transparent;
    
    padding: 0;
    
    &:focus {
      
      outline: none;
    }
    
  }
  input[type='submit'] {
    display: none;
  }
  
  
}

.menu-toggle {
  
  display: block;
  
  border-radius: 100px;
  border: none;
  
  cursor: pointer;
  
  float: right;
  
  width: 32px;
  height: 32px;
  margin: 24px 0;
  margin-left: 16px;
  
  -moz-appearance:none;
  -webkit-appearance:none;
  appearance: none;
  
  
  background: $lightgrey;
  
  svg {
    margin: 8px 0;
  }
  
  svg path {
    fill: $black;
  }
  
  &:focus {
    outline: none;
  }
  
}
.toggled .menu-toggle {
  background: $black;
  
  svg path {
    fill: $lightgrey;
  }
}