.comment-list {
  margin: 48px 0 0 0;
  padding: 0;
  list-style: none;
  
  & > li {
    padding: 24px 0 0 0;
  }
  & > li.pingback {
    padding: 24px 0;
  }
  
  .children {
    margin: 0;
    padding: 0 0 0 ;
    list-style: none;
    padding-left: 3em;
    
    & > li {
      position: relative;
      left: -3rem;
      padding: 24px 0 0 0;
      padding-left: 3rem;
      margin-right: -3em;
    }
  }
}


//comment form

.comment-form-element label {
  display: block;
  background: $lightgrey;
  border-radius: 1rem;
  margin: 0.75rem 0;
  min-height: 2rem;
}
.comment-form-element-label {
  width: 96px;
  display: inline-block;
  float: left;
  padding: 8px 0 8px 12px;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 700;
}
.comment-form-element {
  textarea, input {
    display: block;
    width: calc(100% - 96px);
    border: none;
    padding:0;
    min-height: 2rem;
    background: transparent;
    
      &:focus {
        outline: none;
      }
  }
  textarea {
    padding: 6px 0;
    resize: vertical;
    display: block;
    background: $lightgrey;
    border-radius: 1rem;
    min-height: 2rem;
  }
}