.site-footer {
  clear: both;
  margin-top: 48px;
  border-top: 4px solid $black;
  padding: 48px 0 0 0;
  
  .site-footer-sections:after {
    content: "";
    display: table;
    clear: both;
  }

  .site-info, .site-footer-sections .widget {
    width: calc(33% - 32px);
    float: left;
    margin-left: 48px;
    &:first-child {
      margin-left: 0;
    }
  }
  
  & > .widget:last-child {
    margin-bottom: 24px
  }
  
  .site-info *:first-child {
    margin-top: 0;
  }

}